#profile, #profile.quizNavbar {
  background-color: #00312d;
  color: white;
}

#profile .profile-main {
  padding: 24px;
}

#profile .profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 8px;
}

#profile .profile-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

#profile .profile-block {
  background-color: #408819;
  border: solid 3px #5abe22;
  height: 120px;
  width: 120px;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile .profile-icon {
  font-size: 48px;
  color: white;
}

#profile .profile-edit-button {
  text-align: center;
  margin-bottom: 24px;
}

#profile .edit-button {
  background-color: #5abe22;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: .2s;
  font-family: inherit;
}

#profile .edit-button:hover {
  background-color: #408819;
}

#profile .profile-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#profile .profile-field {
  display: flex;
  flex-direction: column;
  color: white;
}

#profile .profile-label {
  margin-bottom: 8px;
  margin-left: 12px;
  color: #a39b9a;
}

#profile .profile-input {
  font-family: inherit;
  padding: 14px 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  color: white;
  background-color: #486a67;
  transition: .2s;
}

#profile .profile-input.editable {
  border-color: #6bab1f;
}

#profile .profile-input:focus {
  border-color: #6bab1f;
  background-color: #303f3b;
}

#profile .profile-input::placeholder {
  color: white;
}

#profile .password-label {
  display: flex;
  justify-content: space-between;
}

#profile .show-password-button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: #a39b9a;
  margin-right: 12px;
  cursor: pointer;
}

#profile .divider {
  border-top: solid 2px #486a67;
  padding-top: 14px;
  margin-top: 24px;
  font-size: 18px;
}

#profile .divider p {
  margin-left: 8px;
  font-weight: bold;
  color: #ddd;
}